In [30]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [31]:
sf_tax_path = "/Users/nigel/SFPropertyTax/data/"
df1 = pd.concat([pd.read_csv(sf_tax_path + df) for df in os.listdir(sf_tax_path)], sort=True)

/Users/nigel/BotWork/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2901: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/nigel/BotWork/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2901: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/nigel/BotWork/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2901: DtypeWarning: Columns (9,32) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [32]:
# df1 = df1[(df1['BEDS'] > 0) & (df1['RP1PPTVAL'] > 0)]

In [81]:
median_pricing = df1.groupby(["ROLLYEAR", "RP1NBRCDE"])["RP1LNDVAL"].describe()['50%']

In [82]:
df2 = df1[df1["RP1LNDVAL"] > 0][['RP1LNDVAL', 'RP1NBRCDE', "ROLLYEAR"]]

In [83]:
median_pricing = df2.groupby(["RP1NBRCDE", "ROLLYEAR"]).median()
median_pricing.groupby(level="RP1NBRCDE")

In [84]:
# median_pricing['pct_change'] = median_pricing.pct_change()
median_pricing

# df2.groupby(["RP1NBRCDE", "ROLLYEAR"]).head()

                    RP1LNDVAL
RP1NBRCDE ROLLYEAR
01A       7.0        159303.0
          8.0        173499.0
          9.0        186356.5
          10.0       196451.0
          11.0       202063.0
          12.0       210413.0
          13.0       226359.0
          14.0       240256.0
          16.0       275856.0
          17.0       289685.5
01B       7.0        189272.0
          8.0        201030.0
          9.0        212419.0
          10.0       222424.0
          11.0       230880.0
          12.0       243568.0
          13.0       254613.0
          14.0       267092.5
          16.0       296689.5
          17.0       314901.0
01C       7.0        253721.0
          8.0        281530.0
          9.0        292079.5
          10.0       296566.0
          11.0       306161.0
          12.0       325174.0
          13.0       359001.0
          14.0       363339.5
          16.0       415927.0
          17.0       436814.0
...                       ...
10H       7.0        131095.0
          8.0        139117.0
          9.0        148351.0
          10.0       151245.0
          11.0       155429.0
          12.0       165321.0
          13.0       175759.0
          14.0       182917.0
          16.0       201006.0
          17.0       207549.0
10J       7.0         35010.0
          8.0         50584.0
          9.0         58280.0
          10.0        65056.0
          11.0        67649.0
          12.0        70892.0
          13.0        59788.0
          14.0        62613.0
          16.0       129833.0
          17.0       130244.0
10K       7.0         80921.5
          8.0         91168.0
          9.0         97821.0
          10.0        99070.5
          11.0       106123.5
          12.0       123696.5
          13.0       128190.0
          14.0       130251.0
          16.0       143371.0
          17.0       152358.0

[872 rows x 1 columns]

In [99]:
median_pricing["pct_change"] = median_pricing.groupby(["RP1NBRCDE", "ROLLYEAR"]).pct_change()

In [106]:
mp = median_pricing[median_pricing.index.get_level_values(1) != 7.0]
mp.head()

                    RP1LNDVAL  pct_change
RP1NBRCDE ROLLYEAR
01A       8.0        173499.0    0.089113
          9.0        186356.5    0.074107
          10.0       196451.0    0.054168
          11.0       202063.0    0.028567
          12.0       210413.0    0.041324

In [156]:
library_data = pd.read_csv("/Users/nigel/SFPropertyTax/Library_Usage.csv")

library_data['Total Renewals'] = library_data['Total Renewals'].astype(float)
library_data.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District',
       'Location (address)', 'Location (city)', 'Location (state)',
       'Location (zip)', 'SF Find Neighborhoods', 'Current Police Districts',
       'Current Supervisor Districts', 'Analysis Neighborhoods'],
      dtype='object')

In [118]:
neighborhood_code_table = pd.read_csv("/Users/nigel/SFPropertyTax/Neigborhood Code-Table 1.csv")

In [148]:
def get_neighborhood_code(row):
    print(row['Home Library Definition'])
    neighborhood = neighborhood_code_table[neighborhood_code_table['NEIGHBORHOOD'].str.contains(row['Home Library Definition'][:5])]
    print(neighborhood['CODE'])
    
library_data.sample(4).apply(get_neighborhood_code, axis=1)

Marina
56    7A
Name: CODE, dtype: object
North Beach
55    6F
61    8B
63    8D
67    8H
Name: CODE, dtype: object
West Portal
38    4T
Name: CODE, dtype: object
Ingleside
20    3G
21    3H
27    4E
Name: CODE, dtype: object

87114     None
158074    None
281054    None
103407    None
dtype: object

In [159]:
library_data.groupby(["Home Library Definition", "Circulation Active Year"])["Total Renewals"].sum()

Home Library Definition      Circulation Active Year
Anza                         2004                           20.0
                             2005                          130.0
                             2006                           39.0
                             2007                           44.0
                             2008                          576.0
                             2009                          653.0
                             2010                          922.0
                             2011                          636.0
                             2012                         5557.0
                             2013                        22200.0
                             2014                        56481.0
                             2015                        72417.0
                             2016                       522706.0
                             None                            0.0
Bayview/Linda Brooks-Burton  2004                           10.0
                             2005                            3.0
                             2006                           11.0
                             2007                          453.0
                             2008                           45.0
                             2009                          844.0
                             2010                          453.0
                             2011                          385.0
                             2012                          457.0
                             2013                         4406.0
                             2014                        12501.0
                             2015                        20757.0
                             2016                       110641.0
                             None                            0.0
Bernal Heights               2004                            1.0
                             2005                            9.0
                                                          ...
Visitacion Valley            2016                       198708.0
                             None                            0.0
West Portal                  2004                           57.0
                             2005                           34.0
                             2006                           65.0
                             2007                          575.0
                             2008                          591.0
                             2009                         1050.0
                             2010                         1883.0
                             2011                         3210.0
                             2012                         6301.0
                             2013                        46890.0
                             2014                        85435.0
                             2015                       141901.0
                             2016                       904888.0
                             None                            0.0
Western Addition             2004                           21.0
                             2005                           17.0
                             2006                            3.0
                             2007                           45.0
                             2008                           88.0
                             2009                          311.0
                             2010                         1023.0
                             2011                          898.0
                             2012                         4866.0
                             2013                        30542.0
                             2014                        58007.0
                             2015                        83178.0
                             2016                       505443.0
                             None                            0.0
Name: Total Renewals, Length: 453, dtype: float64